body {
  margin: 0;
}

.form {
  margin: 2% auto;
  padding: 2%;
  box-shadow: 0 10px 10px black;
  width: 30%;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

.form button {
  background-color: blue;
  color: white;
  width: 100%;
  border: 0;
  padding: 10px;
}
